.botones {
    display: flex;
    gap: 20rem;
    margin-top: 5rem;  
    }
    button {
      display: flex;
      font-family: 'IM Fell English', serif;
      font-size: 20px;
      padding: 12px 24px;
      background-color: #d4b790; 
      border: 3px solid #8b5a2b;
      color: #4b3621;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
      cursor: pointer;
    }
    button:hover {
      background-color: #c4a484; /* Un tono más oscuro al pasar el mouse */
      transform: scale(1.05);
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
    }
    #tutorialTexto, #confirmarTexto {    
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding: 2rem;
        height: 20rem;
        display: none;
        background-color: #d4b790; 
        border: 3px solid #8b5a2b;
        color: #4b3621;
        overflow: hidden;
    }