h1 {
    font-size: 4rem;
}
#grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(21, 1fr);
}
#grid:hover {
    cursor: pointer;
}
#mapa {
    height: 810px;
    width: 650px;
    grid-column: span 17; 
    grid-row: span 21;
    object-fit: cover;
}
.treasure {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.x-roja {
    position: absolute;
    font-size: 24px;
    color: red;
    font-weight: bold;
    pointer-events: none;
}

#cuerpo {
    display: flex;
    gap: 2rem;
}
.margenes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagenes, p {
    background-color: #d4b790; 
    border: 3px solid #8b5a2b;
    color: #4b3621;
  }
#brujula {
    display: block;
    height: 30rem;
  }
#cofre {
    display: none;
    height: 30rem;
  }
.buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
button {
    height: 3rem;
}